@use "./assets/styles/common";

* {
  box-sizing: border-box;
  background-color: rgba(0, 0, 0, 0);
  padding: 0;
  margin: 0;
  // border: none;
  text-decoration: none;
  list-style-type: none;
  overflow-wrap: break-word;
  hyphens: auto;
}

html {
  --fontSize: 1em;
  --fs14: 0.875rem;
  --fs15: 0.9375rem;
  --fs16: 1rem;
  --fs17: 1.0625rem;
  --fs18: 1.125rem;
  --fs19: 1.1875rem;
  --fs20: 1.25rem;
  --fs21: 1.3125rem;

  --gap: 25px;
  --halfGap: calc(var(--gap) / 2);

  --sectionWidth1: 540px;
  --sectionWidth2: 785px;
  --sectionWidth3: 1130px;
  --columnWidth1: 225px;
  --columnWidth2: 320px;

  --pinkDark: hsl(343, 50%, 45%);
  --pink: hsl(343, 50%, 60%);
  --pinkLight: hsl(343, 50%, 74%);
  --grayDark: hsl(0, 0%, 5%);
  --gray: hsl(0, 0%, 20%);
  --grayLight: hsl(0, 0%, 35%);
  --transparentModalOverlay: rgba(0, 0, 0, 0.5);
}
html,
body {
  -webkit-font-smoothing: antialiased;
  height: 100%;
  line-height: 1.5;
}

input,
button,
textarea,
select {
  font: inherit;
}

#root {
  isolation: isolate;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
/*
 Responsive header 
 768px 2 colonnes 
 Sous 768px, logo, barre de recherche qui prend 50% ou plus de la largeur et burger menu à droite du header 
 Panneau du menu qui vient en glissant de la gauche, contient les boutons d'accueil, de réseau, deux boutons fakes, bouton notification et bouton paramètres 
 Layout 
 768px 2 colonnes 
 992px 3 colonnes
*/
