 @use "./assets/styles/lib";
@use "./assets/styles/common";

* {
  box-sizing: border-box;
  background-color: rgba(0, 0, 0, 0);
  padding: 0;
  margin: 0;
  border: none;
  text-decoration: none;
  list-style-type: none;
  overflow-wrap: break-word;
  hyphens: auto;
}

html {
  font-size: lib.$fontSize;
}

html,
body {
  -webkit-font-smoothing: antialiased;
  line-height: 1.5;
}

// Allows footer to be at the bottom of the page
// in combination with styles just after on App component
// and putting margin-top to auto on the footer
html,
body,
#root {
  height: 100%;
}

.app {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  padding: lib.$gap;
}

input,
button,
textarea,
select {
  font: inherit;
}

#root {
  isolation: isolate;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/*
 Responsive header 
 768px 2 colonnes 
 Sous 768px, logo, barre de recherche qui prend 50% ou plus de la largeur et burger menu à droite du header 
 Panneau du menu qui vient en glissant de la gauche, contient les boutons d'accueil, de réseau, deux boutons fakes, bouton notification et bouton paramètres 
 Layout 
 768px 2 colonnes 
 992px 3 colonnes
*/