///* Sizing *///
$fontSize: var(--fontSize);
$fs14: var(--fs14);
$fs15: var(--fs15);
$fs16: var(--fs16);
$fs17: var(--fs17);
$fs18: var(--fs18);
$fs19: var(--fs19);
$fs20: var(--fs20);
$fs21: var(--fs21);

$gap: var(--gap);
$halfgap: var(--halfGap);

$sectionWidth1: var(--sectionWidth1);
$sectionWidth2: var(--sectionWidth2);
$sectionWidth3: var(--sectionWidth3);
$columnWidth1: var(--columnWidth1);
$columnWidth2: var(--columnWidth2);

/* Colors */
$pinkDark: var(--pinkDark);
$pink: var(--pink);
$pinkLight: var(--pinkLight);

$grayDark: var(--grayDark);
$gray: var(--gray);
$grayLight: var(--grayLight);
$transparentModalOverlay: var(--transparentModalOverlay);
