@use "sass:math";
///* Sizing *///
$fontSize: 1em;

$fs-14px: 0.875rem;
$fs-15px: 0.9375rem;
$fs-16px: 1rem;
$fs-17px: 1.0625rem;
$fs-18px: 1.125rem;
$fs-19px: 1.1875rem;
$fs-20px: 1.25rem;
$fs-21px: 1.3125rem;

$gap: 25px;
$halfgap: math.div($gap, 2);

$sectionWidth1: 540px;
$sectionWidth2: 785px;
$sectionWidth3: 1130px;

$columnWidth1: 225px;
$columnWidth2: 320px;

/* Colors */
$pinkDark: hsl(343, 50%, 45%);
$pink: hsl(343, 50%, 60%);
$pinkLight: hsl(343, 50%, 74%);

$grayDark: hsl(0, 0%, 5%);
$gray: hsl(0, 0%, 20%);
$grayLight: hsl(0, 0%, 35%);
$transparentGray: rgba(0, 0, 0, 0.5);
