@use "./lib";

// Common styles to LoginForm and RegisterForm components

.loginForm, .registerForm {
  margin-top: lib.$space-24px;
  font-family: lib.$font-text;

  label {
    display: block;
    margin-bottom: lib.$space-8px * 0.7;
  }

  .input, .select {
    height: 34px;
    width: 100%;
    border: 1px solid lib.$grayInputBorder;
    margin-bottom: lib.$space-16px * 0.8;
    background-color: lib.$grayInputBackground;
    border-radius: lib.$radius-5px;
    padding-left: lib.$space-8px;
  }

  .select {
    // Removes the default select arrow
    appearance: none;
    -moz-appearance: none;  /* Firefox */
    -webkit-appearance: none;  /* Chrome, Safari */
  }

  // Sets a custom arrow
  .selectContainer {
    position: relative;

    &::after {
      position: absolute;
      // content: "\2304";
      // content: "▼";
      content: "\25BC";
      font-size: lib.$fs-16px;
      padding: 0 13px;
      right: 0;
      top: lib.$space-8px * 0.8;
      pointer-events: none;
      
    }
  }

  .button {
    height: 36px;
    width: 100%;
    background-color: lib.$pink;
    font-size: lib.$fs-18px;
    text-transform: uppercase;
    color: lib.$white;
    font-weight: lib.$fweight-bold;
    cursor: pointer;
  }

  .errorLogin, .errorRegister {
    background-color: lib.$inputErrorBackground;
    height: lib.$space-56px;
    border-radius: lib.$radius-5px;
    color: lib.$col-errorText;
    display: grid;
    align-items: center;
    padding-left: lib.$space-8px;
    margin-bottom: lib.$space-24px;
    // display: none;
  }

  .error {
    color: lib.$pink;
    font-size: lib.$fs-11px;
    margin-top: (lib.$space-16px * 0.8) * -0.8;
    margin-bottom: lib.$space-16px * 0.8;
  }
}